{{ define "default/index.html" }}
<p class="lead">
  <a href="/admin">发布一个帖子</a> 或者回复下面的帖子!
</p>
{{ range .users }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
    </div>
    <div class="panel-body">
      作者 {{ .Name }} - 发帖时间 {{ .CreatedAtDate }} - 共有 {{ .NumReplies }} 条评论。
      <div class="pull-right">
        <a href="/thread/read?id={{.Uuid }}">阅读更多</a>
      </div>
    </div>
  </div>
{{ end }}

{{ end }}